@import '../../../styles.scss';

.hero {
  @include dFlex($fd: column);

  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../../../../public/img/Hero_Background.png');
  // background: linear-gradient(30deg, #1C1C1C 23%, #FFCA1B 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero .content-container {
  @include dFlex($fd: column);
  position: relative;
  height: 100%;
  padding: 0 $p-medium;  
}


p {
  font-family: $font-highlight;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: $color-grey;
  margin: 16px;
}

.hero-buttons {
  @include dFlex($g: 28px);
  margin-top: 40px;
}

.line-arrow-wrapper,
.line-links-wrapper {
  @include dFlex($fd: column, $g: 20px);
  position: absolute;
  bottom: 0px;
}

.line-arrow-wrapper {
  left: $p-medium;
}

.line-links-wrapper {
  right: $p-medium;

  > p {
    transform: rotate(-90deg);
    font-family: $font-basic;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: $color-white;
  }
}

.social-media-icons {
  @include dFlex($fd: column, $g: 8px);
}

.line-left {
  height: 240px;
  width: 1px;
  background-color: $color-highlight;
}

.line-right {
  height: 186px;
  width: 1px;
  background-color: $color-highlight;
}

.arrow-container {
  @include dFlex();
  height: 48px;
  width: 30px;
  border: 1px solid $color-highlight;
  border-radius: 999px;
  overflow: hidden;

  > img {
    height: 15px;
  }
}

.arrow {
  animation: arrowDownAnimation 1s linear infinite;
}

@keyframes arrowDownAnimation {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}

// .banner {
//   @include dFlex($jc: flex-start, $ai: center);

//   position: absolute;
//   bottom: 70px;
//   height: 60px;
//   width: 100vw;
//   background-color: rgba($color: $color-white, $alpha: 0.12);
//   transform: rotate(-3deg);
//   overflow: hidden;
// }

.banner {
  @include dFlex($jc: flex-start, $ai: center);

  position: absolute;
  bottom: 70px;
  height: 60px;
  width: 100%; 
  background-color: rgba($color: $color-white, $alpha: 0.12);
  transform: rotate(-3deg);
  overflow: hidden;
}

.banner-wrapper {
  display: inline-flex;
  animation: bannerAnimation 20s linear infinite;
}

.banner-wrapper p {
  font-family: $font-basic;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-highlight;
  white-space: nowrap; // verhindert Zeilenumbruch
  margin: 0;
}

@keyframes bannerAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.banner-dot {
  @include dot();
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}
