@import '../../../styles.scss';

.test {
  border: 3px solid $color-highlight;
}

section {
  @include dFlex($fd: column);

  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('../../../../public/img/Hero_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

p {
  font-family: $font-highlight;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: $color-grey;
  margin: 16px;
}

.hero-buttons {
  @include dFlex($g: 28px);
  margin-top: 40px;
}

.line-arrow-wrapper {
  @include dFlex($fd: column, $g: 24px);

  position: absolute;
  left: $p-medium; 
  bottom: 0px; 
}

.line-left {
  height: 240px;
  width: 1px;
  background-color: $color-highlight;
}

.line-links-wrapper {
  @include dFlex($fd: column, $g: 24px);

  position: absolute;
  right: $p-medium; 
  bottom: 0px; 
}

.line-right {
  height: 186px;
  width: 1px;
  background-color: $color-highlight;
}




.arrow-container {
  @include dFlex();
  height: 48px;
  width: 30px;
  border: 1px solid $color-highlight;
  border-radius: 999px;
  overflow: hidden;

  > img {
    height: 15px;
  }
}

.arrow {
  animation: arrowDownAnimation 1s linear infinite;
}

@keyframes arrowDownAnimation {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}



.banner {
  @include dFlex();

  position: absolute;
  bottom: 70px;
  height: 60px;
  width: 100vw;
  background-color: rgba($color: $color-white, $alpha: 0.12);
  transform: rotate(-3deg);
 
  > p {
    animation: bannerAnimation 20s linear infinite;
    font-family: $font-basic;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: $color-highlight;
    white-space: nowrap; // verhindert Zeilenumbruch
    margin: 0;
  }
}

@keyframes bannerAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.dot {
  display: inline-block;
  height: 6.4px;
  width: 6.4px;
  border-radius: 50%;
  background-color: $color-highlight;
  vertical-align: middle;
  margin: 0px 40px;
}
