@use '../../../styles' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.hero {
  @include dFlex($fd: column);

  position: relative;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  background-image: url('../../../../public/img/Hero_Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.hero-container {
  @include dFlex($fd: column);
  position: relative;
  width: 100%;
  flex: 1;
}

h1 {
  font-size: 128px;
  line-height: 1;
  margin: 0 100px;
  text-align: center;
}

.phd {
  font-size: 30px;
  font-weight: 400;
}

.job-title {
  font-family: $font-highlight;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  color: $color-grey;
  margin: 16px;
  text-align: center;
}

//////// Buttons

.hero-buttons {
  @include dFlex($g: 28px);
  margin-top: 40px;
  cursor: pointer;
}

//////// Linie links mit Pfeil

.line-arrow-wrapper {
  @include dFlex($fd: column, $g: 20px);
  position: absolute;
  bottom: 0px;
  left: $p-medium;
}

.arrow-container {
  @include dFlex();
  height: 48px;
  width: 30px;
  border: 1px solid $color-highlight;
  border-radius: 999px;
  overflow: hidden;

  > img {
    height: 15px;
  }
}

.arrow {
  animation: arrowDownAnimation 1s linear infinite;
}

@keyframes arrowDownAnimation {
  0% {
    transform: translateY(0px);
  }
  33% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}

//////// Linie rechts mit Social-Media-Icons

.line-links-wrapper {
  @include dFlex($fd: column, $g: 20px);
  position: absolute;
  bottom: 0px;
  right: $p-medium;
}

.email {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  transition: color 0.3s ease;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  bottom: 298px;

  &:hover {
    cursor: pointer;
    color: $color-highlight;
  }
}

.links-icons {
  @include dFlex($fd: column, $g: 6px);

  > a {
    position: relative;
    @include dFlex();
    height: 32px;
    width: 32px;
    cursor: pointer;

    &:hover .hover-point {
      opacity: 1;
    }
  }
}

.links-icons .email-icon {
  display: none;
}

.hover-point {
  @include dot();
  position: absolute;
  right: -10px;
  opacity: 0;
}

.email-icon:hover img {
  content: url('../../../../public/img/icons/mail-hover.svg');
}

.github:hover img {
  content: url('../../../../public/img/icons/gitHub-hover.svg');
}

.linkedin:hover img {
  content: url('../../../../public/img/icons/linkedin-hover.svg');
}

.line-left {
  height: 240px;
  width: 1px;
  background-color: $color-highlight;
}

.line-right {
  height: 186px;
  width: 1px;
  background-color: $color-highlight;
}

//////// Banner ////////
.banner {
  @include dFlex($jc: flex-start, $ai: center);

  position: absolute;
  bottom: 70px;
  height: 60px;
  left: 0;
  right: 0;
  background-color: rgba($color: $color-white, $alpha: 0.12);
  transform: rotate(-3deg);
  overflow: hidden;
}

.banner-wrapper {
  display: inline-flex;
  animation: bannerAnimation 20s linear infinite;

  > p {
    font-family: $font-basic;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0;
    color: $color-highlight;
    white-space: nowrap; // verhindert Zeilenumbruch
    margin: 0;
  }
}

@keyframes bannerAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.banner-dot {
  @include dot();
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px;
}

/* =========================
   HERO – RESPONSIVE
   ========================= */

@media (max-width: 900px) {
  h1 {
    font-size: 100px;
  }

  .job-title {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 84px;
  }

  .job-title {
    font-size: 24px;
  }

  .line-arrow-wrapper {
    left: $p-small;
  }

  .line-links-wrapper {
    right: $p-small;
  }

  .email {
    display: none;
  }

  .links-icons .email-icon {
    @include dFlex();
  }

  .line-left {
    height: 224px;
  }

  .line-right {
    height: 112px;
  }

  .banner {
    bottom: 32px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 62px;
  }

  .phd {
    font-size: 24px;
  }

  .hero-buttons {
    @include dFlex($fd: column, $g: 16px);
  }

  .button-animated {
    width: 178px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 48px;
  }
}
