@import '../../../styles.scss';

// :host bezieht sich auf das <app-header>-Tag
:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-left: $p-medium;
  padding-right: $p-medium;
}

header {
  @include dFlex($jc: space-between, $ai: center);
  height: 80px;
}

nav {
  @include dFlex($jc: flex-start, $ai: center, $g: 24px);
  font-family: $font-highlight;
  font-size: 20px;
  font-weight: 400; 
  letter-spacing: -0.03em; 
  color: $color-white; 
}

nav a {
  position: relative;
}

nav a .hover-point {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $color-highlight;
  opacity: 0;
}

nav a:hover .hover-point {
  opacity: 1;
}

