@import '../../../styles.scss';

// :host bezieht sich auf das <app-header>-Tag
:host {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-left: $plr-medium;
  padding-right: $plr-medium;

}

header {
  @include dFlex($jc: space-between, $ai: center);
  height: 80px;
}

nav {
  @include dFlex($jc: flex-start, $ai: center, $g: 20px);

  font-family: $font-highlight;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.03em;
  color: $color-white;
}