$color-bg-dark: #1c1c1c;
$color-bg-primary: #1f2e2b;
$color-bg-secondary: #26524a; 
$color-white: #ffffff;
$color-grey: #d9d9d9;
$color-highlight: #3ccfb6;
$color-error: #EC7B7B;

$p-small: 16px;
$p-medium: 50px;
$p-large: 96px;
$p-xlarge: 144px;

$font-basic: 'Karla', sans-serif;
$font-highlight: 'Fira Code', monospace;

$transition-speed: 0.12s;