$color-bg-dark: #1c1c1c;
$color-bg-primary: #1f2e2b;
$color-bg-secondary: #26524a; 
$color-white: #ffffff;
$color-grey: #d9d9d9;
$color-highlight: #3ccfb6;
$color-error: #EC7B7B;
$color-gradient-highlight: linear-gradient(90deg, #1c1c1c 23%, #ffca1b 100%); //#raus

$p-medium: 50px;
$p-large: 100px;

$font-basic: 'Karla', sans-serif;
$font-highlight: 'Fira Code', monospace;