<section class="projects">
  <div class="content-container p-lr">
    <div class="projects-intro">
      <span class="subtitle">Portfolio</span>
      <h2>Featured Projects</h2>
      <p class="projects-intro-text">
        Explore a selection of my work here - Interact with projects to see my skills in action.
      </p>
    </div>

    <div class="projects-overview">
      <div class="projects-list">
        <div class="project-item" (click)="openDialog(projects[0])">
          <div class="project-title">
            <h3>Pokédex</h3>
            <img src="img/icons/projects-arrow.svg" alt="arrow icon" class="hover-icon" />
          </div>
          <p class="project-tech">
            JavaScript <span class="color-highlight">|</span> HTML
            <span class="color-highlight">|</span> CSS
          </p>

          <div class="project-preview pokedex">
            <img class="project-img" src="img/projects/pokedex.png" alt="Pokédex project preview" />
            <img class="project-bg" src="img/projects/projects-bg-small.png" alt="" />
          </div>
        </div>

        <div class="project-item" (click)="openDialog(projects[1])">
          <div class="project-title">
            <h3>El Pollo Loco</h3>
            <img src="img/icons/projects-arrow.svg" alt="arrow icon" class="hover-icon" />
          </div>
          <p class="project-tech">
            JavaScript <span class="color-highlight">|</span> HTML
            <span class="color-highlight">|</span> CSS
          </p>

          <div class="project-preview elpolloloco">
            <img
              class="project-img"
              src="img/projects/el-pollo-loco.png"
              alt="El Pollo Loco project preview"
            />
            <img class="project-bg" src="img/projects/projects-bg-small.png" alt="" />
          </div>
        </div>

        <div class="project-item" (click)="openDialog(projects[2])">
          <div class="project-title">
            <h3>Join</h3>
            <img src="img/icons/projects-arrow.svg" alt="arrow icon" class="hover-icon" />
          </div>
          <p class="project-tech">
            Angular <span class="color-highlight">|</span> TypeScript
            <span class="color-highlight">|</span> HTML <span class="color-highlight">|</span> CSS
            <span class="color-highlight">|</span> Firebase
          </p>

          <div class="project-preview join">
            <img class="project-img" src="img/projects/join.png" alt="Join project preview" />
            <img class="project-bg" src="img/projects/projects-bg-small.png" alt="" />
          </div>
        </div>
      </div>
    </div>

    <!-- <ng-container *ngIf="selectedProject as project">
      <app-dialog [project]="project" (close)="closeDialog()"> </app-dialog>
    </ng-container> -->

    <!-- <ng-container *ngIf="selectedProject as project">
      <app-dialog [project]="project" (close)="closeDialog()" (next)="goToNextProject()">
      </app-dialog>
    </ng-container> -->

@if (selectedProject) {
  <app-dialog
    [project]="selectedProject"
    (close)="closeDialog()"
    (next)="goToNextProject()"
  ></app-dialog>
}

  </div>
</section>

<!-- <section class="projects">
  <div class="content-container p-lr">
    <div class="projects-intro">
      <span class="subtitle">Portfolio</span>
      <h2>Featured Projects</h2>
      <p class="projects-intro-text">
        Explore a selection of my work here - Interact with projects to see my skills in action.
      </p>
    </div>

    <div class="projects-overview">
      <div class="projects-list">

        <div 
          class="project-item"
          *ngFor="let p of projects"
          (click)="openDialog(p)"
        >

          <div class="project-title">
            <h3>{{ p.title }}</h3>
            <img src="img/icons/projects-arrow.svg" alt="arrow icon" class="hover-icon" />
          </div>

          <p class="project-tech">
            {{ p.tech.join(' | ') }}
          </p>


          <div class="project-preview">
            <img class="project-img" [src]="p.image" [alt]="p.title + ' preview'" />
            <img class="project-bg" src="img/projects/projects-bg-small.png" alt="" />
          </div>
        </div>

      </div>
    </div>


    <app-dialog 
      *ngIf="selectedProject"
      [project]="selectedProject"
      (close)="closeDialog()">
    </app-dialog>

  </div>
</section> -->
