<section>
  <div class="content-container p-lr">
    <div class="layout">
      <div class="projects-intro">
        <span class="subtitle">{{ 'projects.subtitle' | translate }}</span>
        <h2>{{ 'projects.title' | translate }}</h2>
        <p class="projects-intro-text">
          {{ 'projects.introduction' | translate }}
        </p>
      </div>

      <div class="projects-overview">
        <div class="projects-list">
          @for (project of projects; track project.id) {
            <div class="project-item" (click)="openDialog(project)">
              <div class="project-title">
                <h3>{{ project.title }}</h3>
                <img src="img/icons/projects-arrow.svg" alt="" class="hover-icon" />
              </div>

              <p class="project-tech">
                @for (techEntry of getTechEntries(project); track techEntry.name) {
                  {{ techEntry.name }}
                  @if (!techEntry.isLast) {
                    <span class="color-highlight"> | </span>
                  }
                }
              </p>

              <div class="project-preview" [ngClass]="getPreviewClass(project)">
                <img
                  class="project-img"
                  [src]="project.image"
                  [alt]="project.title + ' project preview'"
                />
                <img class="project-bg" src="img/projects/projects-bg-small.png" alt="" />
              </div>
            </div>
          }
        </div>

        <div class="preview-spacer"></div>
      </div>

      @if (selectedProject) {
        <app-dialog
          [project]="selectedProject"
          (close)="closeDialog()"
          (next)="goToNextProject()"
        ></app-dialog>
      }
    </div>
  </div>
</section>
