@use '../../../styles' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.skills {
}

.content-container {
  background-image: url('../../../../public/img/skills/skills-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.layout {
  @include dFlex($ai: flex-start, $g: $p-medium);
  padding: $p-large 0;
}

//////// Linke Spalte (Textbereich)
// #Frage: aus About-me nehmen?

.info-column {
  @include dFlex($fd: column, $ai: flex-start, $g: 10px);
  flex: 1;

  width: 500px; //#raus
//   border: 2px red solid; //#raus
}

.info-card {
  // doppelt in about-me?
  border: 1px $color-highlight solid;
  border-radius: 30px;
  background-color: $color-bg-primary; 

  width: 520px;
  height: 503px;

  padding: 0; //#32px gem. mockup?
}

.info-card-general {
  // doppelt in about-me
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-white;

  padding: 8px 32px 32px 32px;

  text-align: justify;

}

.span-wrapper {
  padding-left: 32px;
}

.span {
  font-family: $font-highlight;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
}

.span-highlight {
  color: $color-highlight;
}

.info-card-endnote {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-white;

  padding: 8px 32px;
}

.skills-button {
  padding: 32px 32px;
}

//////// Rechte Spalte (Iconbereich)

.icons-column {
  flex: 1;
  margin-top: 32px;

//   border: 2px red solid; //#
}

.skills-wrapper {
  @include dFlex($jc: flex-start, $g: $p-medium);
  flex-wrap: wrap; // erlaubt Zeilenumbrüche
}

.skill-item {
  @include dFlex($fd: column, $jc: flex-start, $ai: center, $g: 10px);

  height: 116px;
  width: 104px;

//   border: 2px green solid; //#

  > p {
    text-align: center;
    padding: 0px 6px;
  }
}

.skill-item img {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}


