// Variablen (#später auslagern):
$color-highlight: #FFCA1B;
$color-bg-dark: #1c1c1c;
$color-white: #ffffff;
$color-grey: #d9d9d9;
$color-gradient-highlight: linear-gradient(90deg, #1C1C1C 23%, #FFCA1B 100%);

$plr-medium: 50px;

$font-basic: 'Karla', sans-serif;
$font-highlight: 'Fira Code', monospace; 

// mixins (#später auslagern):

// @mixin borderStyling($bStyle) {
//     border-radius: 12px; 
//     border: 2px $bStyle white; 
// }

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $color-white;
}

html, body {
    background-color: $color-bg-dark;
    font-family: $font-basic;
}

h1 {
  font-family: $font-basic;
  font-weight: 700;         
  font-size: 128px;
  line-height: 1;           
  letter-spacing: -0.02em;  
  color: $color-grey;
  margin: 0;                // optional (Figma nutzt kein Standardmargin)
}

h2 {
    font-size: 64px;
    font-weight: 700; //?
    font-style: bold; //?
    color: $color-highlight;
}

a {
    font-size: 20px;
    text-decoration: none;
}

// button {
// //   @include dFlex($jc: center, $ai: center); // dein Mixin
// //   padding: 10px 30px;
//   border-radius: 999px;         // macht die "Pille"
//   border: 1px solid $color-white;
// //   background: transparent;
//   color: $color-white;
//   font-family: $font-basic; 
//   font-size: 20px;
//   font-weight: 400;
//   letter-spacing: 0;
  
// //   transition: background 0.2s ease, color 0.2s ease, transform 0.1s ease;
// }

button {
  cursor: pointer;

  font-family: $font-basic;   
  font-size: 18px;
  font-weight: 400;               
  line-height: 1.2;                
  letter-spacing: 0;     
  color: $color-white;   

  background-color: transparent;

  border: 1px solid $color-white;
  border-radius: 999px;  

  padding: 12px 20px;
}



/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/fira-code/fira-code-v27-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../public/fonts/fira-code/fira-code-v27-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/fira-code/fira-code-v27-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../public/fonts/fira-code/fira-code-v27-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/karla/karla-v33-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../public/fonts/karla/karla-v33-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/karla/karla-v33-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../public/fonts/karla/karla-v33-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}



