// Variablen (#später auslagern):
$color-highlight: #FFCA1B;
$color-bg-dark: #1c1c1c;
$color-white: #ffffff;
$color-grey: #d9d9d9;
$color-gradient-highlight: linear-gradient(90deg, #1C1C1C 23%, #FFCA1B 100%);

$plr-medium: 40px;

// $font-basic: 'Karla', sans-serif;
// $font-highlight: 'Fira Code', sans-serif; // andere?

// mixins (#später auslagern):

// @mixin borderStyling($bStyle) {
//     border-radius: 12px; 
//     border: 2px $bStyle white; 
// }

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $color-white;
    // font-family: fira
}

html, body {
    background-color: $color-bg-dark;
    // font-family: 'Fira Code';
}

h1 {
    // font-family: KARLA;
    font-family: 'Karla';
    font-size: 128px;
    font-weight: bold;
    color: $color-grey;
}

h2 {
    // font-family: ;
    font-size: 64px;
    font-weight: 700; //?
    font-style: bold; //?
    color: $color-highlight;
}

a {
    // font-family: Fira CODE;
    font-size: 20px;
    text-decoration: none;
}



// fonts (#später auslagern / #brauche ich alle?)
/* fira-code-regular - latin */
// @font-face {
//   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//   font-family: 'Fira Code';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../public/fonts/fira-code/fira-code-v27-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
//        url('../public/fonts/fira-code/fira-code-v27-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
// }

// /* fira-code-700 - latin */
// @font-face {
//   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//   font-family: 'Fira Code';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../public/fonts/fira-code/fira-code-v27-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
//        url('../public/fonts/fira-code/fira-code-v27-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
// }

// /* karla-regular - latin */
// @font-face {
//   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//   font-family: 'Karla';
//   font-style: normal;
//   font-weight: 400;
//   src: url('../public/fonts/karla/karla-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }
// /* karla-700 - latin */
// @font-face {
//   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
//   font-family: 'Karla';
//   font-style: normal;
//   font-weight: 700;
//   src: url('../public/fonts/karla/karla-v33-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
// }
