// Variablen (#später auslagern):
$color-highlight: #3ccfb6;
// $color-highlight: #e8b81c;
$color-bg-dark: #1c1c1c;
$color-bg-primary: #1f2e2b;
$color-bg-secondary: #26524a; 


$color-white: #ffffff;
$color-grey: #d9d9d9;
$color-gradient-highlight: linear-gradient(90deg, #1c1c1c 23%, #ffca1b 100%); //#raus

$p-medium: 50px;
$p-large: 100px;

$font-basic: 'Karla', sans-serif;
$font-highlight: 'Fira Code', monospace;

// mixins (#später auslagern):

@mixin dFlex($fd: row, $jc: center, $ai: center, $g: 0px) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin dot($color: $color-highlight) {
  height: 6.4px;
  width: 6.4px;
  border-radius: 50%;
  background-color: $color;
}

@mixin item-divider {
  border-top: 1px solid $color-highlight;

  &:last-child {
    border-bottom: 1px solid $color-highlight;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: $color-white;
  cursor: default;
}

.content-container {
  max-width: 1440px;
  padding: 0;
  margin: 0 auto; /* damit der Content in der Mitte des Screens angezeigt wird und nicht linksbündig  */

  // border: 2px red solid;
}

html,
body {
  background-color: $color-bg-dark;
  font-family: $font-basic;
}

h1 {
  font-family: $font-basic;
  font-weight: 700;
  font-size: 128px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $color-grey;
  margin: 0; //#raus?
}

h2 {
  font-family: $font-highlight;
  font-size: 64px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.03em;
  color: $color-highlight;
  padding: 32px; //#raus? / einheitlich
}

h3 {
  font-family: $font-highlight;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-white;
}

a {
  font-size: 20px;
  text-decoration: none;
}

.subtitle { 
  font-size: 24px;
  font-weight: 500; 
  line-height: 1;
  letter-spacing: 0;
  color: $color-highlight;
}

// Buttons #auslagern

button {
  cursor: pointer;

  font-family: $font-basic;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-white;

  background-color: transparent;

  border: 1px solid $color-white;
  border-radius: 999px;

  padding: 12px 20px;
}

.button-animated {
  overflow: hidden;
  transition: color 0.3s ease, border-color 0.5s ease;

  &:hover {
    border-color: $color-highlight;
  }

  &:hover .button-text {
    animation: buttonAnimation 3s linear infinite;
    color: $color-highlight;
  }
}

.button-text {
  display: inline-block;
}

@keyframes buttonAnimation {
  0% {
    transform: translateX(0);
  }
  49.99% {
    transform: translateX(-180px);
  }
  50% {
    transform: translateX(180px);
  }
  100% {
    transform: translateX(0);
  }
}

.p-lr {
  padding-left: $p-medium;
  padding-right: $p-medium;
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/fira-code/fira-code-v27-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/fira-code/fira-code-v27-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/fira-code/fira-code-v27-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/fira-code/fira-code-v27-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/karla/karla-v33-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/karla/karla-v33-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* karla-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/karla/karla-v33-latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/karla/karla-v33-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/karla/karla-v33-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../public/fonts/karla/karla-v33-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
