@import '../../../styles.scss';

p,
a {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-white;
}

.content-container {
  // border: 2px red solid;
}

.footer-content {
  @include dFlex($jc: space-between, $ai: flex-end);
  position: relative;
  margin: $p-medium 0;
}

// LINKE SEITE

.footer-brand {
  @include dFlex($fd: column, $ai: space-between, $g: 28px);
}

.logo {
  //doppelt header
  width: 133px;
  height: 48px;
  background-image: url('../../../../public/img/hero/Logo-filled.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.1s ease;
}

.logo:hover {
  // doppelt header
  background-image: url('../../../../public/img/hero/Logo-outlines.svg');
}

.brand-text {
  @include dFlex($fd: column, $ai: flex-start, $g: 4px);
}

// MITTE

.footer-copyright {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.copyright-text {
  font-family: $font-highlight;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0;
  color: $color-highlight;
}

// RECHTS

.footer-links {
  @include dFlex($fd: column, $ai: flex-start, $g: 4px);
}

nav a {
  //#doppelt
  position: relative;
  transition: color 0.5s ease;

  &:hover {
    color: $color-highlight;
  }
}

nav a .hover-point {
  //#doppelt
  @include dot();
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.5s ease;
  opacity: 0;
}

nav a:hover .hover-point {
  //#doppelt
  opacity: 1;
}
